* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #393E46;
  font-family: 'Lato', sans-serif;
}

.main {
  display: flex;
  justify-content: space-evenly;
  background-color: #EEEEEE;
  padding: 20px;
}

.main__dropdown {
  background-color: white;
}

.main__header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

.main__header > h1 {
  color: #F8485E;
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.main__stats {
  display: flex;
  justify-content: space-between;
}

.main__left {
  flex: 0.8;
}

.main__information > h3 {
  color: #393E46;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.main__information > h3:last-of-type {
  margin-top: 1rem;
}

.graph{
    height: 250px;
}

hr {
    opacity: 0.3;
    border-bottom: #393939 dashed;
}

@media (max-width: 1120px) {
  .main {
    flex-direction: column;
  }
}
